/*GLOBLE ROLES*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
}

/*HEADER*/
.container {
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;

}

@media (max-width: 775px) {
    .container {
        display: block;
        height: 150px;
        width: auto;
    }
    .container .right_nav{
        float: right;
        overflow: hidden;

    }
    .container .right_nav input {
    width: 100px;
    border-radius: 10px;
}

    .container .left_nav {
        display: block;
    }
    .container .right_nav .clear {
        clear: left;
        
    }
}

.container .left_nav {
    display: inherit;
    align-items: center;

}

.container .left_nav .logo {
    padding: 15px;

}

.container .left_nav .logo {
    color: red;
    font-size: 18px;
    letter-spacing: 4px;
    font-weight: normal;

}

.container .left_nav .logo img {
    height: 18px;
    padding-top: 6px;

}

.container .left_nav ul {
    list-style: none;
    display: inline-flex;

}

.container .left_nav ul li a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
}

.container .left_nav ul li a:hover {
    color: red;
    border-bottom: 2px solid white;
}

.container .right_nav {
    padding-right: 20px;
}

.container .right_nav input {
    width: 200px;
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
}

.container .right_nav span {
    color: white;
    vertical-align: middle;
    margin-left: 10px;
    cursor: pointer;
}

.container .right_nav span:hover {
    color: red;
}

/*SECTION 1 POSTER*/
section .poster {
    background-image: url(/images/50492611.jpg);
    background-size: cover;
    height: 500px;

}

section .poster .text {
    padding-left: 91px;
    padding-top: 156px;
    padding-right: 100px;
    background: rgba(0, 0, 0, 0.8);
    width: fit-content;
    height: 345px;
    color: white;
    cursor: pointer;

}

section .poster .text h2 {
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

section .poster .text h2 span {
    color: red;
    margin-right: 5px;
    text-shadow: 1px 1px 1px black;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;

}

section .poster .text h1 {
    font-size: 60px;
    margin-bottom: -9px;

}

section .poster .text h5 {
    word-spacing: 1px;
    letter-spacing: 6px;

    font-family: 'Raleway', sans-serif;

}

section .poster .text h5 span {
    letter-spacing: 2px;
    color: rgb(11, 206, 11);

}

section .poster .text p {
    width: 330px;
    font-family: 'Raleway', sans-serif;
    padding-top: 20px;
    line-height: 1.8;
}

/*SECTION */
.section {
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;

}

.title {
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px;
    display: inline-block;
    cursor: pointer;

}

.title:hover {
    color: red;
}

.cover-n {
    display: grid;
    grid-template-columns: repeat(9, 1fr);

    overflow: hidden;
    cursor: pointer;
}

section .covers img {
    width: 209px;
    height: 266px;
}

section .my_list img {
    width: 223px;
    height: 137px;

}

section h4 {
    color: rgb(0, 255, 255);
    font-family: 'Raleway', sans-serif;
    display: inline-grid;
    font-size: x-small;

}

section h3:hover section h4 {
    color: blueviolet;

}


section .covers img:hover {
    transform: scaleX(2);
    width: 130px;
    height: 266px;

}


section .my_list img:hover {
    transform: scaleX(2);
    width: 152px;
    height: 145px;
}
#user {
    width: 100%;
    height: 300px;
    background-color: blue;
    font-size: 200px;
    text-align: center;
}